/* reset css  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00124e;
  line-height: 1.2;
}
.font_40 {
  font-size: 40px;
}
p {
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}
.primary_color {
  color: #00124e;
}
.secondary_color {
  color: #fd4949;
}
.d_block {
  display: block;
}
.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.middle_align {
  align-items: center;
}
.img_full {
  max-width: 100%;
  height: auto;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-4,
.col-2,
.col-6,
.col-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
a {
  text-decoration: none;
}
.primary_btn {
  background: #fd4949;
  padding: 18.5px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}
.text_white {
  color: #fff;
}
.theme_title {
  font-size: 40px;
  font-weight: 700;
  color: #00124e;
  margin-bottom: 30px;
}

.section_padding {
  padding: 80px 0;
}
.text-center {
  text-align: center;
}
.font_18 {
  font-size: 18px;
  line-height: 1.6;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_30 {
  margin-bottom: 30px;
}
.pl_40px {
  padding-left: 40px;
}
.max_800 {
  max-width: 830px;
}
/* theme css  */
.portfolio__banner {
}
.portfolio__banner .portfolio__banner_single {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}
.portfolio__banner .portfolio__banner__content {
  flex: 50% 0 0;
}
.portfolio__banner .portfolio__banner__content .banner_heading_text {
  max-width: 450px;
}

.portfolio__banner .portfolio__banner__content .banner_heading_text h3 {
  text-transform: capitalize;
  font-size: 50px;
  position: relative;
  padding-left: 15px;
}
.portfolio__banner .portfolio__banner__content .banner_heading_text h3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 98px;
  border-radius: 3px;
  top: 12px;
  background: #fd4949;
}
.portfolio__banner .portfolio__banner__content .banner_heading_text p {
  margin: 20px 0 30px 0;
}

.portfolio__banner .portfolio__img {
  flex: 50% 0 0;
}
.portfolio__banner .portfolio__img img {
  width: 100%;
}

/* mission_boxs  */
.mission_bg_1 {
  background: #edf5f6;
}
.mission_bg_2 {
  background: #ffeeee;
}
.mission_bg_3 {
  background: #fff4d6;
}
.mission_box_wized {
  padding: 30px;
  border-radius: 20px;
}
.mission_box_wized .icon_img {
  max-width: 100px;
}
.mission_box_wized .icon_img img {
  width: 100%;
}
.mission_box_wized h3 {
  font-size: 30px;
  margin: 20px 0 20px 0;
}
.mission_box_wized p {
  font-size: 18px;
  font-weight: 400;
}
.mission_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.footer_section {
  background: #00124e;
  padding: 70px 0;
}
.footer_section h3 {
  margin-bottom: 10px;
}
.footer_section p {
  font-size: 20px;
  color: #fff;
}

.blog_Widget {
  position: relative;
}

.blog_Widget .thumb {
  overflow: hidden;
  display: block;
  margin-bottom: 28px;
}
.blog_Widget .thumb img {
  width: 100%;
  transition: 0.3s;
  transform: scale(1.1);
}

.blog_Widget .blog_content {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: start;
  align-items: start;
}

.blog_Widget .blog_content .date_text {
  position: absolute;
  left: 0;
  top: 0;
  writing-mode: vertical-rl;
  background: #ffffff;
  width: 50px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  top: -1px;
}

.blog_Widget .blog_content h4 {
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  line-height: 1.45;
  max-width: 385px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.blog_Widget .blog_content h4:hover {
  color: #fd4949;
}

.blog_Widget:hover .thumb img {
  transform: scale(1.2);
}
.blog_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.test_capitalize {
  text-transform: capitalize;
}
